<%- include('./partials/header') %>
<body>
    <div class="todo_title">
        <h2 id="todo_heading">Todo List</h2>
        <div>
            <a class="btn" href="/addTodo">Add Todo</a>
        </div>
        <br/>
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created on</th>
                <th>Updated on</th>
                <th>Action</th>
            </tr>
            <tr>
                <% for(let i = 0 ; i < todos.length ; i ++) { %>
                <td><%= todos[i].title %></td>
                <td><%= todos[i].disc %></td>
                <td><%= moment(todos[i].createdAt).format("DD MM, YYYY, HH:mm:ss") %></td>
                <td><%= moment(todos[i].updatedAt).format("DD MM YYYY, HH:mm:ss") %></td>
                <td>
                    <a class="btn" href="/editTodo?id=<%= todos[i]._id %>">Edit</a>
                    <a class="btn" href="/deleteTodo?id=<%= todos[i]._id %>">Delete</a>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
<%- include('./partials/footer') %>
