<%- include('partials/header.ejs') %>
    <div class="table_container">
        <h2 class="todo_title">Edit Todo</h2>
        <div>
            <a class="btn" href="/">Back</a>
            <form action="/update-todo/<%= Todo.id %>" method="post">
                <div class="new_todo">
                    <div class="form_group">
                        <label class="text_light" for="title">Title</label>
                        <input 
                        type="text" 
                        name="title" 
                        placeholder="Add Todo name" 
                        value="<%= Todo.title %>"/>
                    </div>
                    <div class="form_group">
                        <label class="text_light" for="title">Todo Discription</label>
                        <input 
                        type="text" 
                        name="disc" 
                        placeholder="Type Todo discription here" 
                        value="<%= Todo.disc %>"/>
                    </div>
                    <div class="form_group">
                        <button class="btn" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<%- include('./partials/footer') %>